<!DOCTYPE html>
<html lang="zh-cn">
    <body>
        <form action="{% url 'user_login' %}" method="post">
            {% csrf_token %}
            <input type="text", name="user">
            <input type="password", name="pass">
            <input type="submit", name="login">
        </form>
        <p>sign in</p>
        <form action="{% url 'user_sign' %}" method="post">
            {% csrf_token %}
            <input type="text", name="user">
            <input type="password", name="pass">
            <input type="submit", name="sign in">
        </form>
    </body>
</html>